<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon
            color="primary"
            name="logo-linkedin"
            class="linkedin-logo"
          ></ion-icon>
        </ion-button>
        <ion-searchbar class="ion-hide-lg-down"></ion-searchbar>
      </ion-buttons>

      <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col size="auto">
            <ion-icon name="home"></ion-icon>
            <div>home</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="people"></ion-icon>
            <div>My Network</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="briefcase"></ion-icon>
            <div>Job</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <div>Messaging</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge
              color="danger"
              style="
                position: absolute;
                right: 22px;
                top: 2px;
                height: 16px;
                width: 16px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              >2</ion-badge
            >
            <div>Notifications</div>
          </ion-col>
          <ion-col (click)="presentPopover($event)" size="auto">
            <ion-avatar style="width: 20px; height: 20px">
              <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
            </ion-avatar>
            <div
              style="
                display: flex;
                gap: 3px;
                justify-content: center;
                align-items: center;
              "
            >
              Me
              <ion-icon
                name="caret-down-outline"
                style="font-size: 12px"
              ></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
